body {
    background-color: lightgrey;

}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    margin-right: 10px;
}

.brand {
    color: #131313;
    font-weight: 500;
    font-size: 35px;
}

/* header section ended here */

.brand-container img {
    width: 100%;
    height: 600px;
    border-radius: 5px;

}

button {
    background: #FF900E;
    width: 150px;
    height: 40px;
    color: white;
    margin-bottom: 15px;
    margin-left: 40%;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.branding {
    text-align: center;
    border-radius: 5px;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-top: 30px;
    
}

.branding h3 {
    line-height: 0px;
}

/* team section styling */

.img-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    gap: 15px;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.img-container img {
    width: 250px;
    height: 250px;
}

.team-info {
    text-align: center;
    margin-top: 150px;
}

.btn-team {
    background: #FF900E;
    width: 150px;
    height: 40px;
    color: white;
    margin-bottom: 15px;
    margin-left: 15%;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

/* feature section styling start here */
.feature-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap:15px;
    border-radius: 5px;
    padding: 5px;
    
}

.feature-info {
    text-align: center;
    width: 586px;
    height: 982px;
    border-radius: 5px;
    margin-top: 30px;
}
    

.feature-container img {
    width: 450px;
    height: 1059px;
    border-radius: 5px;
}
    
.feature-btn{
    background: #FF900E;
    width: 150px;
    height: 60px;
    color: white;
    margin-bottom: 30px;
    margin-left: 15%;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 5px;  
}

/* Some facts section styling start from here */

.container {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    
}

.item {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
}

.item:hover {
    background-color:yellow;
}

.item img {
    margin-top: 15px;
}

/* sponsors section styling */

.sponsors-info h2,p {
    text-align: center;
}

.sponsors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sponsors {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 175px;
    height: 100px;
    margin-top: 15px;
}


.sponsors img {
    width: 155px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}

/* own choose section styling */

h2{
    text-align: center;
    margin-top: 15px;
}
.bird-container{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
   
}
.bird-container img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
/* footer section */

footer {
    background: #FFF4E7;
    width: 100%;
    height: 100px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* responsive section start from here */

@media only screen and (max-width:576px) {
     nav,
    .brand-container,
    .img-container,
    .feature-container,
    .container,
    .sponsors-container,
    .bird-container,
    footer{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    
};
